---
// ClassCard.astro
interface Props {
  courseCode: string;
  courseName: string;
  instructor: string;
  buttonText?: string;
}

const {
  courseCode,
  courseName,
  instructor,
  buttonText = "View Class",
} = Astro.props;
---

<a
  href="/course/course123"
  class="rounded-2xl border-slate-200 border-solid border-1 flex-1 overflow-hidden flex flex-col hover:border-orange-100 hover:cursor-pointer hover:animate-pulse text-left"
>
  <div class="p-5">
    {courseCode}
  </div>
  <div class="bg-orange-100 p-5 flex-1 flex flex-col gap-5">
    <div class="flex-1">
      <h2 class="font-bold text-xl">{courseName}</h2>
      <p class="">{instructor}</p>
    </div>

    <div class="rounded-3xl bg-white w-full flex flex-row py-3 px-5">
      <div class="text-left">
        {buttonText}
      </div>
      <span class="ml-auto">▶</span>
    </div>
  </div>
</a>
